<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:ehcache="http://ehcache-spring-annotations.googlecode.com/svn/schema/ehcache-spring"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://ehcache-spring-annotations.googlecode.com/svn/schema/ehcache-spring http://ehcache-spring-annotations.googlecode.com/svn/schema/ehcache-spring/ehcache-spring-1.1.xsd
	http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-1.0.xsd
	http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd">

	<jdbc:embedded-database id="dataSource" type="H2" />

	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
				<property name="showSql" value="true" />
				<property name="generateDdl" value="true" />
				<property name="database" value="H2" />
			</bean>
		</property>
		<property name="persistenceXmlLocation" value="classpath:persistence.xml" />
		<property name="jpaDialect" ref="jpaDialect" />
		<property name="persistenceUnitName" value="com.tinu.jta" />
		<property name="dataSource" ref="dataSource" />
		<property name="jpaPropertyMap">
			<map>
				<entry key="hibernate.cache.provider_class" value="net.sf.ehcache.hibernate.EhCacheProvider" />
				<entry key="hibernate.cache.use_second_level_cache" value="true" />
				<entry key="hibernate.cache.use_query_cache" value="true" />
				<entry key="hibernate.show_sql" value="true" />
				<entry key="hibernate.generate_statistics" value="true" />
				<entry key="hibernate.cache.use_structured_entries" value="true" />
			</map>
		</property>
	</bean>
	
	<bean id="jpaDialect" class="org.springframework.orm.jpa.vendor.HibernateJpaDialect"/>

	<jpa:repositories base-package="com.tinu.repository"/>

	<bean id="sessionFactory" factory-bean="entityManagerFactory"
		factory-method="getSessionFactory">
	</bean>

	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>

</beans>
